@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

#switch-ul {
  margin-right: 0;
  padding-right: 0.7em;
}

#title {
  margin: 0;
  padding: 0;
}

#subtitle {
  margin: 0 1.2em 0 1.2em;
}

.navigation {
  background: rgba(16, 24, 30, 0.8);
  box-shadow: 0 0.06em 0 rgba(115, 130, 140, 0.2);
}

.navigation * {
  margin: 0 auto 0 auto;
  padding: 0 auto 0 auto;
}

.navigation li a {
  padding: 0;
}

.navigation li img {
  margin: 0 auto 0 0.8em;
}

.navigation li input {
  margin: 0 0.8em 0 auto;
}

.meme-box {
  width: 75%;
  padding: 1em;
  display: flex;
  border-radius: 10px;
  margin: 2.5em 0 5em 0;
  background-color: rgb(46, 80, 97);
}

.image-box {
  
}

.control-box {
  
}

.footer {
  bottom: 0;
  display: flex;
  position: relative;
  min-height: 100px;
  padding: 20px 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(16, 24, 30, 0.8);
  box-shadow: 0 0 5em rgba(115, 130, 140, 0.2);
}

.footer p {
  color: #fff;
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

.footer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.visitors {
  gap: 0.75em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
}

.visitors div p, .visitors div font {
  font-family: 'Poppins', sans-serif;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
}

.social-icon__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}