<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <title>PhenoPi: A Meme API</title>
    <link rel="icon" href="/icon.png"/>
    <link rel="stylesheet" href="../src/css/index.css"/>
    <link rel="stylesheet" href="../src/css/loading.css"/>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <meta content="PhenoPi: A Meme API" property="og:title"/>
    <meta content="The perfect place to create half-assed memes for free." property="og:description"/>
    <meta content="https://api.vocelia.repl.co" property="og:url"/>
    <meta content="https://api.vocelia.repl.co/icon.png" property="og:image">
    <meta content="#FF0000" data-react-helmet="true" name="theme-color"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  </head>
  <body>
    <nav class="navigation">
      <ul>
        <li>
          <a href="https://api.vocelia.repl.co/"><img width="50em" height="50em" src="/icon.png"></a>
        </li>
        <li>
          <h3>PhenoPi</h3>
        </li>
      </ul>
      <ul id="switch-ul">
        <label>
          Free Memes
          <input id="memes-switch" type="checkbox" role="switch" checked>
        </label>
      </ul>
    </nav>
    <div style="margin: 3em;"></div>
    <center>
      <h1 id="title">Minimalist Meme Generator API</h1>
      <p id="subtitle">Behold, mortal! You have stumbled upon the hallowed ground where <code>half-assed</code> memes reign supreme, and where creativity is optional but appreciated. Join us, and bask in the glory of our <em data-tooltip="Available now at a price of $9.99 - don't miss out on this limited offer!"><strong>free</strong></em> meme-making services, where no effort is too little and no idea is too lame. This is the perfect place for you to unleash your creativity, or lack thereof.</p>
      <div class="meme-box">
        <div class="image-box">
          <div class="loadingio-spinner-bean-eater-81q2jxphfgx"><div class="ldio-n74jd3cyqcq">
          <div><div></div><div></div><div></div></div><div><div></div><div></div><div></div></div></div></div>
          <img src=""/>
        </div>
        <div class="controls-box">
          <select class="meme-selector">
            <option value="" disabled selected>Select</option>
          </select>
          <div class="controls"></div>
          <button>Generate</button>
        </div>
      </div>
    </center>
    <footer class="footer">
      <div class="visitors">
        <div class="visitors visitors-item-1">
          <img src="../src/media/neko-cat.gif">
        </div>
        <div class="visitors visitors-item-2">
          <p id="visits-counter">Thanks for visiting!<br>Visits: <font color="red">NULL</font></p>
        </div>
        <div class="visitors visitors-item-3">
          <img src="../src/media/neko-cat.gif">
        </div>
      </div>
      <div style="margin: 0.3em;"></div>
      <ul class="social-icon">
        <li class="social-icon__item">
          <a class="social-icon__link" data-tooltip="About Me" href="https://about.vocelia.repl.co">
            <ion-icon name="home"></ion-icon>
          </a></li>
        <li class="social-icon__item">
          <a class="social-icon__link" data-tooltip="Discord" href="https://discord.com/users/939141111941840926">
            <ion-icon name="logo-discord"></ion-icon>
          </a></li>
        <li class="social-icon__item">
          <a class="social-icon__link" data-tooltip="Github" href="https://github.com/Vocelia">
            <ion-icon name="logo-github"></ion-icon>
          </a></li>
      </ul>
      <p>&copy;Vocelia 2023</p>
    </footer>
  </body>
  <script src="../src/js/index.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>
